<div id="spell-edit-form-container">
    <div id="breadcrumbs">
        <a href="#spells">Edit Class Spells</a> >>
        <a href="#spells/<%= classData.attributes.id %>"><%= classData.attributes.name %> Spells</a> >>
        Create Spell
    </div>

    <form id="spell-edit-form">
        <div class="form-element-container">
            <label class="form-element-label">Name</label>
            <div class="form-element">
                <input type="text" name="name" value="" />
            </div>
        </div>
    </form>
</div>